@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-Regular.ttf);
    font-style: regular;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-Italic.ttf);
    font-style: italic;
    font-weight: regular;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-LightItalic.ttf);
    font-style: italic;
    font-weight: light;
}

h1, h2, h3, h4, h5, h6, p, a, li { font-family: 'lato' }
h1, h2 { font-weight: bold }
h3, h4, p, a, li { font-weight: regular }
h5, h6 { font-weight: light }
