/* ----------------------------------------------------------- */
/* SECTION 1: GENERIC SITE-WIDE STYLING */
/* ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, img {
  line-height: 1.3;
  letter-spacing: .01em;
  margin: 10px 0;
}

a { text-decoration: underline; color: var(--green); font-weight: bold }
.green-strip a { color: var(--white) }
a:hover { cursor: pointer }

/* * { position: relative }*/
html { margin-top: 0 !important }
/* *:focus { outline: 0 !important; text-decoration: none !important } */
/* *:hover { outline: 0 !important; text-decoration: none !important } */

body, html {
  background-color: var(--white);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

ul { list-style-type: none; padding-left: 0 }
a:visited { color: inherit; text-decoration: none }

/* ----------------------------------------------------------- */
/* SECTION 2: SPECIALTY CLASSES */
/* ----------------------------------------------------------- */

/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */

.reg-w { width: var(--content-width); align-self: center }

.full-width {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -47vw;
  margin-right: 47vw;
  width: 94vw;
  background-position: right center;
  background-repeat: no-repeat;
}

.arrow-link {
  color: black;
  position: relative;
  padding-bottom: 2px;
  padding-right: 28px;
  border-bottom: 1.25px solid;
  transition: .2s ease-out
}

.arrow-link::after {
  position: absolute;
  content: " ";
  width: 25px;
  height: 20px;
  background-image: url("../svgs/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(7px);
  transition: .1s ease-out;
  margin-top: auto; margin-bottom: auto; top: 0; bottom: 0
}
.arrow-link:hover::after { transform: translateX(14px); }

@media only screen and (max-width: 767px) {
  .arrow-link {
    padding: 10px 0;
    border: 1.5px solid;
    border-radius: 5px;
    display: block;
    width: 98%;
    text-align: center;
    color: var(--dorange) !important;
    background-color: #E26E4B17;
  }
  .arrow-link::after { display: none }
}

.green-strip {
  background-color: var(--green);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  left: 50%; right: 50%;
  margin-left: -50vw;
  margin-right: 50vw;
  width: 100vw;
  background-position: right center;
  background-repeat: no-repeat;
}
.green-strip * { width: var(--content-width) }

.abs-center-v { margin-top: auto; margin-bottom: auto; top: 0; bottom: 0 }
.abs-center-h { margin-left: auto; margin-right: auto; left: 0; right: 0 }

/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */

.divider {
  position: absolute;
  left: -999px; right: -999px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  top: 0
}

/*----------- HOME STYLING ------------- */
/*----------- HOME STYLING ------------- */
/*----------- HOME STYLING ------------- */

.home-header {
  display: grid;
  row-gap: 50px;
}

.header-line { grid-area: 1 / 1 / 2 / 3 }
.header-subline { grid-area: 2 / 2 / 3 / 3 }

.header-subline {
  width: max-content;
  margin-left: auto;
}
